.accountMenu {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 400px;
    padding: 2%;
    margin: 3%;
    border-radius: 10px;
}

.accountMenu_mainTitle {
    background-color: white;
    margin-bottom: 5%;
}

.accountMenu_infoBtnContainer {
    background-color: var(--buttonsColor);
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 5%;
    cursor: pointer;
    text-align: center;
}

.accountMenu_infoBtnContainer_infoBtn {
    background-color: var(--buttonsColor);
    border: none;
}

.accountMenu_logout {
    background-color: salmon;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: px solid black;
    cursor: pointer;
    margin-top: auto;
}