.boutonContact,
.boutonContactHome {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 30px 70px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  cursor: pointer;
}