.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 1%;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.form_inputsMajeurs {
    text-align: center;
    padding-top: 1%;
    margin: 0.4%;
    padding-bottom: 1%;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}

.form_conteneurPartieSecondaire {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.form_conteneurPartieSecondaire_conteneurInputs {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.form_conteneurPartieSecondaire_conteneurInputs_inputsSecondaires {
    text-align: center;
    padding-top: 2%;
    margin: 2%;
    padding-bottom: 2%;
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
}

.form_conteneurPartieSecondaire_inputNumber {
    text-align: center;
    padding-top: 1%;
    margin: 2%;
    margin-left: 25px;
    padding-bottom: 1%;
    width: 45px;
    height: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    align-self: top;
}

.form_texte {
    background-color: white;
    color: black;
}

.form_boutonCreer {
    background-color: #AAD9D9;
    color: black;
    border-radius: 15px;
    padding: 5% 15%;
    border: 1px solid black;
    margin: 0.4%;
    position: relative;
    top: 20px;
}

.form_boutonCreer:hover {
    transition: 0.5s;
    background-color: var(--buttonsHoverColor);
}

@media (max-width: 1000px) {
    .form {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 200px;
        padding: 1%;
        border-radius: 10px;
        margin-left: 0%;
        margin-top: 12.5%;
        margin-bottom: 10%;
    }
}