.howDoesThisWorkSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 90vw;
    margin: 3%;
}

.howDoesThisWorkSection h1 {
    text-align: left;
    font-size: 24px;
    background-color: white;
    color: black;
    text-decoration-color: #000000;
    margin: 10px;
    padding: 10px;

}

.howDoesThisWorkSection p,
.howDoesThisWorkSection li {
    text-align: left;
    font-size: 16px;
    background-color: white;
    color: black;
    text-decoration-color: #000000;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
}

.howDoesThisWorkSection ul {
    background-color: white;
}