/* Pour voir à quoi ressemble la "version sombre" du menu de navigation, enlever les commentaires sur ce fichier, sur le fichier _footer.css et sur le fichier settings.css */
/* Lignes où il y a la présence de commentaires à enlever sur cette page : 13 - 97 - 132 */

/* Partie Ordinateur */

.navigationMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 75px;
    color: black;
    /* color: white; */
}

.navigationMenu a {
    text-decoration: none;
    padding: 0 0.4rem;
    color: inherit;
    z-index: 50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navigationMenu_titleApp {
    position: absolute;
    left: 50px;
    top: 20px;
    font-size: clamp(16px, 2vw, 24px);
}

.navigationMenu_links {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 15%;
    margin-right: 1%;
    gap: 70px;
}

.navigationMenu_links a:hover {
    transition: 0.5s;
    color: var(--linksHoverColor);
}

.navigationMenu_burgerButton {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
    position: absolute;
    display: none;
}

/* Sous-menu */

.navigationMenu_links_subemenuContainer {
    margin-left: -7%;
    z-index: 99999999;
}

.navigationMenu_links_subemenuContainer_arrow {
    font-size: 20px;
    cursor: pointer;
}

.navigationMenu_links_subemenuContainer_submenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-right: 5%;
    border: 1px solid;
}

.navigationMenu_links_subemenuContainer_submenu_item {
    margin: 5%;
}

/* Partie Téléphone */

@media screen and (max-width:897px) {
    .navigationMenu_links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100%;
        bottom: 0;
        height: 100%;
        padding: 2rem;
        visibility: hidden;
        transition: all 0.8s ease-out;
        z-index: 10;
        background-color: white;
        /* background-color: #020A48; */
    }

    .showNavigationMenu .navigationMenu_links {
        right: 0;
        width: 100%;
        visibility: visible;
    }

    .navigationMenu_links a {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .navigationMenu_burgerButton {
        display: block;
        top: 1rem;
        right: 1rem;
        z-index: 11;
    }

    .navigationMenu_burgerButton:hover {
        cursor: pointer;
    }

    .navigationMenu_burgerButton_burgerLine,
    .navigationMenu_burgerButton_burgerLine::before,
    .navigationMenu_burgerButton_burgerLine::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: black;
        /* background: white; */
        transition: all .5s ease-in-out;
    }

    .navigationMenu_burgerButton_burgerLine::before,
    .navigationMenu_burgerButton_burgerLine::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .navigationMenu_burgerButton_burgerLine::before {
        transform: translateY(-12px);
    }

    .navigationMenu_burgerButton_burgerLine::after {
        transform: translateY(12px);
    }

    .showNavigationMenu .navigationMenu_burgerButton_burgerLine {
        width: 0;
        background: transparent;
    }

    .showNavigationMenu .navigationMenu_burgerButton_burgerLine::before {
        transform: rotate(45deg);
    }

    .showNavigationMenu .navigationMenu_burgerButton_burgerLine::after {
        transform: rotate(-45deg);
    }

    .navigationMenu_links_item {
        transform: translateY(100vh);
    }

    .showNavigationMenu .navigationMenu_links_item {
        transform: translateY(0);
    }


    /* Animation d'entrée des liens du menu burger */

    .showNavigationMenu .navigationMenu_links_slideInDown1 {
        transition: all 1s ease-out;
    }

    .showNavigationMenu .navigationMenu_links_slideInDown2 {
        transition: all 1.1s ease-out;
    }

    .showNavigationMenu .navigationMenu_links_slideInDown3 {
        transition: all 1.2s ease-out;
    }

    .showNavigationMenu .navigationMenu_links_slideInDown4 {
        transition: all 1.3s ease-out;
    }
}