.containerTrajet,
.containerTrajetUnclicable {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
  margin-left: 5%;
  text-decoration: none;
  width: clamp(400px, 50vw, 500px);
  z-index: 2;
}

.greenCircle,
.orangeCircle,
.redCircle,
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 5px;
}

.greenCircle {
  background-color: green;
}

.orangeCircle {
  background-color: orange;
}

.redCircle {
  background-color: red;
}

.containerTrajet:hover {
  cursor: pointer;
}

.containerTrajet_sectionHeure {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: 3%;
  /*padding-right: 50px;*/
  justify-content: space-between;
  flex-grow: 1;
  max-width: 40px;
}

.containerTrajet_sectionHeure_ligne {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin: 2%;
  margin-bottom: 15%;
  align-self: flex-start;
}

.containerTrajet_sectionHeure_ligneBas {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin: 2%;
  align-self: flex-start;
}

.containerTrajet_sectionHeure_ligne_text {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.containerTrajet_sectionHeure_Date {
  background-color: white;
  color: black;
  z-index: 1;
}

.containerTrajet_sectionLieu {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: 2%;
  justify-content: space-between;
  flex-grow: 1;
}

.containerTrajet_sectionLieu_ligne {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin: 2%;
  margin-bottom: 15%;
  align-self: flex-start;
  flex-grow: 1;
}

.containerTrajet_sectionLieu_ligneBas {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin: 2%;
  align-self: flex-start;
}

.containerTrajet_sectionLieu_ligne_text {
  margin-right: 30px;
  background-color: white;
  color: black;
}

.containerTrajet_sectionMillieu {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin: 2%;
  margin-left: auto;
}

.containerTrajet_sectionMillieu_icone {
  width: 15px;
  height: 15px;
  background-color: white;
  align-self: flex-end;
}

.containerTrajet_sectionMillieu_text {
  background-color: white;
  color: black;
  align-self: flex-end;
  border-radius: 20px;
}

.containerTrajet_sectionDroite {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.containerTrajet_sectionDroite_textPrice {
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 2%;
  align-self: flex-start;
  font-size: 30px;
  font-weight: bold;
}

.containerTrajet_sectionDroite_text {
  background-color: white;
  color: black;
  border-radius: 20px;
  margin: 2%;
  align-self: flex-start;
}

@media (max-width: 850px) {

  .containerTrajet,
  .containerTrajetUnclicable {
    margin-left: 0%;
  }

  .containerTrajets_textNoTravels {
    margin-bottom: 10%;
  }
}