.mesTrajets {
    display: flex;
    flex-direction: column;
}

.mesTrajets_containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
}

.mesTrajets_containerButtons_buttons {
    background-color: white;
    margin: 1%;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 8%;
    text-align: left;
    border-style: none;
}

.mesTrajets_containerButtons_buttonClicked {
    background-color: grey;
}

.mesTrajets_containerTrajets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mesTrajets_carIcon {
    position: absolute;
    height: 30%;
    width: auto;
    top: 50%;
    left: 6%;
    z-index: 1;
}

.mesTrajets_aircraftIcon {
    position: absolute;
    height: 30%;
    width: auto;
    top: 30%;
    right: 6%;
    z-index: 1;
}

@media screen and (max-width:897px) {

    .mesTrajets_carIcon,
    .mesTrajets_aircraftIcon {
        display: none;
    }
}