.conteneurGlobal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.conteneurGlobal_formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteneurGlobal_conteneurboutonEtPlaceholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}