/* Variables */

:root {
    --linksHoverColor: #8080D7;
    --buttonsHoverColor: #AAD9D9;
}





*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #010922;
    /* box-shadow: 0 0 0 3px red inset; */
}

@font-face {
    font-family: 'Outfit';
    src: url('/public/fonts/Outfit-VariableFont_wght.ttf');
}

body {
    font-family: 'Outfit', sans-serif;
}

main {
    color: white;
}